{% extends "base.html" %}

{% load widget_tweaks %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<div class="container h-100 d-flex flex-column justify-content-center">
    <form class="form-signin" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <label class="sr-only">{{ form.username.label_tag }}</label>
        {{ form.username|attr:"class:form-control"|attr:"placeholder:Username" }}
        
        <label class="sr-only">{{ form.password.label_tag }}</label>
        {{ form.password|attr:"class:form-control mb-3"|attr:"placeholder:Password" }}

        <input class="btn btn-lg btn-info btn-block" type="submit" value="Login" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>

    {# Assumes you setup the password_reset view in your URLconf #}
    <p class="align-self-center"><a href="{% url 'password_reset' %}" class="forgot-password text-white">Forgot your password?</a></p>
</div>

{% endblock %}